//@import 'bootstrap';
//@import 'bootstrap-responsive';

@mixin flex {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
}

.flex {
    @include flex;
}

#stream, #editor {
    border: 1px solid #ddd;
    background: #eee;
    height: 600px;
    overflow-y: scroll;
}

article {
    margin-bottom: 3em;

    h1 {
        margin-bottom: .125em;
        line-height: 1.2;
    }
}
