//@import 'bootstrap';
//@import 'bootstrap-responsive';

@mixin flex {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
}

#instructions {
    position: absolute;
    top: 400px;
    left: 35%;
    z-index: 10;
    width: 400px;
    font-family: "Mrs Sheppards";
    font-size: xx-large;
    text-align: center;

    img {
    }
}

header.row {
    h1 {
        text-align: center;
    }
}

.flex {
    @include flex;
}

#stream, #editor {
    background: #eee;
    height: 600px;
}

#stream {
    border: 1px solid #ddd;
    overflow-y: scroll;
}

#editor {
     padding: 0px;
     
     textarea {
         padding: 10px;
         width: 100%;
         height: 100%;
     }
}

article {
    margin-bottom: 3em;

    h1 {
        margin-bottom: .125em;
        line-height: 1.2;
    }
}
