//@import 'bootstrap';
//@import 'bootstrap-responsive';

#stream, #editor {
    border: 1px solid #ddd;
    background: #eee;
    height: 100%;
}

article {
    margin-bottom: 3em;

    h1 {
        margin-bottom: .125em;
        line-height: 1.2;
    }
}
